<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bryankyle.slack</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00917AA3-CFB3-4B2B-8827-2344B0F12738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C414F766-D528-4C7A-A5CD-855E4B067AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C414F766-D528-4C7A-A5CD-855E4B067AFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D6490C1-5A55-43A1-899D-D8A1F375E655</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C83502C2-2FBE-4B2F-A9A8-E4AA03492636</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Kyle</string>
	<key>description</key>
	<string>Slack Tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Markdown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8D6490C1-5A55-43A1-899D-D8A1F375E655</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"-&gt; Markdown","arg":"slack2md","subtitle":"Format text from Slack as Markdown"},{"title":"-&gt; Slackdown","arg":"md2slack","subtitle":"Convert Markdown to Slack formatting"}]</string>
				<key>keyword</key>
				<string>qs</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Convert transcripts from a conversation in Slack to Markdown blockquotes and vice versa</string>
				<key>title</key>
				<string>Slack &lt;-&gt; Markdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>00917AA3-CFB3-4B2B-8827-2344B0F12738</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | tee | ./slack.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C414F766-D528-4C7A-A5CD-855E4B067AFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C83502C2-2FBE-4B2F-A9A8-E4AA03492636</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00917AA3-CFB3-4B2B-8827-2344B0F12738</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8D6490C1-5A55-43A1-899D-D8A1F375E655</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C414F766-D528-4C7A-A5CD-855E4B067AFA</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C83502C2-2FBE-4B2F-A9A8-E4AA03492636</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
